footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.2);
  color: #4f4f4f;
  text-align: center;
}

/*footer{
  height: 60px;
  display: flex;
  padding-top: 60px;
  footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3f51b5;
  color: white;
  text-align: center;
}*/

